body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('imagenFondoFinal.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; /* Añade esta línea */
}

/* Añade este bloque para crear una capa semitransparente sobre la imagen de fondo */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Ajusta el último valor para cambiar la opacidad */
  z-index: -1; /* Asegura que la capa esté detrás del contenido */
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  width: 400px;
}

h1 {
  color: #ffcc00;
  text-align: center;
}

#routes-list {
  margin-bottom: 20px;
}

.route-item {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffcc00;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.route-item a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}

.route-item a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
